<h1 class="title">Bienvenue sur Coinbot!</h1>
<div class="image">
  <img src="../../../assets/img-accueil-bittrex/icone_bot.svg" >
</div>

<div>
    <h3 class="titleh3">Coinbot est un robot trader dans l'univers de la cryptomonnaie!</h3><br>
  <p class="parra">
    Utilisant la plateforme d'échange Bittrex(voir section tutoriel)
    il vous permettra de trader de manière totalement autonome et automatique!
  </p>
  <div class="imagebit">
      <img src="../../../assets/img-accueil-bittrex/bittrex.png"><br>
      </div>
</div>
<div>
  <p class="parra">Avec coinbot, trader parmi un large panel de cryptomonnaie les plus prometteuses!</p>
</div>
<div>
  <img src="../../../assets/img-accueil-bittrex/btc.png">
  <img src="../../../assets/img-accueil-bittrex/bch.png">
  <img src="../../../assets/img-accueil-bittrex/dash.png">
  <img src="../../../assets/img-accueil-bittrex/doge.png">
  <img src="../../../assets/img-accueil-bittrex/eth.png">
  <img src="../../../assets/img-accueil-bittrex/emc2.png">
  <img src="../../../assets/img-accueil-bittrex/nav.png">
  <img src="../../../assets/img-accueil-bittrex/neo.png">
  <img src="../../../assets/img-accueil-bittrex/ltc.png">
</div>

<div class="coin">
  <p class="parra1">Tradez 24h/24, 7/7!</p>
  <p class="parra1">Coinbot est un outil indispensable à l'heure ou le trading automatisé prends un ampleur sans précédant!</p>

</div>
