<h1 class="title">Bienvenue sur Coinbot!</h1>
<div class="image">
  <img src="../../../assets/img-accueil-bittrex/icone_bot.svg" >
</div>

<div>
    <h3 class="titleh3">Le trading de Cryptomonnaies à la portée de tous!</h3><br>
      <p class="parra">
        Coinbot est un robot qui va vous permettre d'automatiser votre investissement dans les cryptomonnaies!<br>
        Son algorythme developper sur les bases de strategies qui ont fait leurs preuve vous permettra de trader automatiquement! <br>
      </p><br><br><br><br><br>
      <div>
        <div class="imagerobotwho">
          <img src="../../../assets/img-accueil-bittrex/robotwho.jpg">
        </div>
    
      <h3 class="titleh4">Alors Comment ça marche?!</h3>
      <p class="parra2">
        Utilisant la plateforme d'échange Bittrex(voir section tutoriel)
        il vous permettra de trader de manière totalement autonome et automatique!
      </p>
     <!--<div class="imagebit">
      <img src="../../../assets/img-accueil-bittrex/bittrex.png"><br>
      </div>-->
    <div>
      <p class="parra2">
       Conbot est directement relier à votre compte Bittrex, dans la section supervision vous aurait l'opportunité de selectionner manuelement la somme de votre portefeuille Bittrex
       à lui allouer.<br>
       Une fois les reglage effectuer il suffira de valider les parrametres est coinbot se mettra au boulot !
      </p><br><br><br><br><br>
      <h3 class="titleh4">Comment Obtenir ses premiers Bticoins</h3>
      <div>
        <p class="parra2">Dans la section tutoriel vous trouverez toutes les demarches pour acheter ses premiers Bitcoins via Coinbase! <br>
        
        </p>

      </div>
      <br><br><br><br><br>
  </div>
</div>
</div>

<div>
  <p class="parra3">Avec coinbot, trader parmi un large panel de cryptomonnaie les plus prometteuses!</p>
</div>

<div>
  <img src="../../../assets/img-accueil-bittrex/btc.png">
  <img src="../../../assets/img-accueil-bittrex/ltc.png">
  <img src="../../../assets/img-accueil-bittrex/bch.png">
  <img src="../../../assets/img-accueil-bittrex/dash.png">
  <img src="../../../assets/img-accueil-bittrex/doge.png">
  <img src="../../../assets/img-accueil-bittrex/eth.png">
  <img src="../../../assets/img-accueil-bittrex/emc2.png">
  

</div><br><br>

<div class="coin">
  <p class="parra1">Tradez 24h/24, 7/7!</p>
  <p class="parra1">Coinbot est un outil indispensable à l'heure ou le trading automatisé prends un ampleur sans précédant!</p>

</div>
