.title{
    font-size: 38px;
    text-align: center;
}

.image{
    text-align: center;
    margin-bottom: 65px;
   
}
.image img{
    width: 200px;
    height: 150px;
}

.parra{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
}
.imagebit{
    text-align: center;
}

.imagebit img{
    height:200px; 
    width:230px; 
    margin-top: 10px;
    margin-bottom: 15px;

}

.parra1{
    margin-top: 30px;
    font-size: 18px;
    line-height: 14px;
}

