<div class="row">
  <div class="col-lg-6 col-md-12">
      <ba-card cardTitle="La thune pour les putes" baCardClass="with-scroll table-panel">
          <pie-chart></pie-chart>
        </ba-card>
    
  </div>

  <div class="col-lg-6 col-md-12">
    <ba-card cardTitle="Liste des macs du coin" baCardClass="with-scroll table-panel">
      <striped-table></striped-table>
    </ba-card>
  </div>

</div>
<div class="row">
  <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12" cardTitle="Des Bidules" baCardClass="traffic-panel medium-card">
    <traffic-chart></traffic-chart>
  </ba-card>
</div>


<div class="row">
    <div class="col-lg-6 col-md-12">
      <ba-card cardTitle="Jolie liste de macs" baCardClass="with-scroll table-panel">
        <contextual-table></contextual-table>
      </ba-card>
    </div>
    <div class="col-lg-6 col-md-12">
        <ba-card cardTitle="Les macs moins beaux" baCardClass="with-scroll table-panel">
          <striped-table></striped-table>
        </ba-card>
      </div>
  </div>