<div class="vertical-scroll">
  <div *ngIf="OrderHistories">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID </th>
          <th>Type d’ordre </th>
          <th>Cryptomonnaie</th>
          <th>Volume</th>
          <th>Date</th>
          <th>Valeur de gain en BTC</th>
        </tr>

      </thead>
      <tbody>

        <tr *ngFor="let item of OrderHistories">
          <td>{{ item.id }}</td>
          <td>{{ item.ordertype.type }}</td>
          <td>{{ item.currency.name }}</td>
          <td>{{ item.volume }}</td>
          <td>{{ item.timestampfinished | date: 'dd/MM/yyyy'}}</td>
          <td>{{ item.gainbtc }}</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>